.m-vh-650 {
    min-height: 650px;
}

div .i::before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 35%;
    height: 5px;
    width: 100px;
    transform: translate(-50%);
    background-color: rgb(62, 62, 62);
}

div .i::after {
    content: "";
    position: absolute;
    left: 80px;
    bottom: 35%;
    height: 5px;
    width: 100px;
    transform: translate(-50%);
    background-color: rgb(62, 62, 62);
}

div .i {
    position: relative;
}

.portfolio {
    margin-top: 122px;
}

.inner {
    position: relative; 
}
.inner img{
    border-radius: 10px;
}
.overlay{
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(105, 255, 158, 0);
    transition: background-color 0.4s;
}
.overlay i{
    color: rgb(255, 255, 255,0);
    transition: color 0.4s;
}

.inner:hover .overlay{
    background-color: rgba(56, 252, 85, 0.8);
}
.inner:hover i{
    color: rgb(255, 255, 255,1);
}
.over{
    overflow: hidden;
}
.fs{
    font-size: 200px;
}