<div class="portfolio">
  <div
    class="container d-flex flex-column justify-content-center align-items-center m-vh-650"
  >
    <div
      class="d-flex flex-column text-dark justify-content-center align-items-center"
    >
      <div class="fs-1 fw-bold">PORTFOLIO COMPONENT</div>
      <div class="i"><i class="fa-solid fa-star"></i></div>
    </div>
    <div class="row my-2">
      <div class="col-4 p-0">
        <div class="inner m-3">
          <img src="assets/imgs/poert1.png" alt="sdsc" class="w-100 h-100" />
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fs"></i>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="inner m-3">
          <img src="assets/imgs/port2.png" alt="sdsc" class="w-100" />
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fs"></i>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="inner m-3">
          <img src="assets/imgs/port3.png" alt="sdsc" class="w-100" />
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fs"></i>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="inner m-3">
          <img src="assets/imgs/poert1.png" alt="sdsc" class="w-100" />
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fs"></i>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="inner m-3">
          <img src="assets/imgs/port2.png" alt="sdsc" class="w-100" />
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fs"></i>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="inner m-3">
          <img src="assets/imgs/port3.png" alt="sdsc" class="w-100" />
          <div class="overlay d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus fs"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
