.m-vh-650{
    min-height: 650px;
}
div .i::before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 35%;
    height: 5px;
    width: 100px;
    transform: translate(-50%);
    background-color: rgb(243, 243, 243);
}
div .i::after {
    content: "";
    position: absolute;
    left: 80px;
    bottom: 35%;
    height: 5px;
    width: 100px;
    transform: translate(-50%);
    background-color: rgb(243, 243, 243);
}
div .i{
    position: relative;
}
.w-fit{
    width: fit-content;
}
.about{
    margin-top: 122px;
}
