<div class="footer">
  <div class="bg-dark py-5">
    <div class="container text-center text-white">
      <div class="row">
          <div class="col-4">
              <h4 class="fw-bold">LOCATION</h4>
              <div>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
              </div>
            </div>
            <div class="col-4">
              <h4 class="fw-bold">AROUND THE WEB</h4>
              <ul class="list-unstyled d-flex d-flex justify-content-center gap-2">
                <li><i class="fa-brands fa-facebook p-2"></i></li>
                <li><i class="fa-brands fa-twitter p-2"></i></li>
                <li><i class="fa-brands fa-linkedin-in p-2"></i></li>
                <li><i class="fa-solid fa-globe p-2"></i></li>
              </ul>
            </div>
            <div class="col-4">
              <h4 class="fw-bold">ABOUT FREELANCER</h4>
              <div>
                <p>
                  Freelance is a free to use, licensed Bootstrap theme created by Route
                </p>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="p-3 text-center bg-secondary text-white">
    Copyright © Your Website 2021
  </div>
</div>