<nav class="navbar navbar-expand-lg navbar-light bg-dark w-100">
    <div class="container p-4">
      <a class="navbar-brand fw-bold text-white fs-2" href="#" routerLink="">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fw-bold text-white fs-4" aria-current="page" href="#" routerLink="about" routerLinkActive="bg-success br-10">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-white fs-4" href="#" routerLink="portfolio" routerLinkActive="bg-success br-10">portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-white fs-4" href="#" routerLink="contact" routerLinkActive="bg-success br-10">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>